<h1>Hi, <%= @passenger.name%>!</h1>
<p>
    We are glad to have you aboard eesto flights
    Your ticket number is: <>
</p>
<p>
    To check flight details,just follow this link: <>
</p>
<p>Thanks for travelling with us and have a great day!</p>